.footer-container {
  background: $dark-grey2;
  padding: 0;
  height: 567px;

  @include breakpoint(large)
  {
    height: 299px;
  }
  position: relative;

  @include breakpoint(large){
    display: block;
  }

  a, h6, p{
    color: $grey;
  }

  .vertical {
      border-left: 1px solid $dark-grey;
      height: 110px;
      margin-left: 3rem;
      display: none;
      @include breakpoint(large)
      {
        display: block;
      }
    }

  .foot-cont{
    position: absolute;
    margin: auto;
    width: 100%;
    @include breakpoint(large){
      width: 70vw;
      margin-bottom: 1rem;
    }
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    @include breakpoint(large)
    {
      align-items: center;
      flex-direction: row;
    }

    .foot-boxes {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  .foot-info-box-cont{
    width: 100%;
  }

  .foot-info-box{

    margin-top: 5rem;
    text-align: center;
    min-height: 248px;
    width: 100%;

    @include breakpoint(large)
    {
      height: 100%;
      width: 70vw;
      margin-top: 4rem;
      // margin-left: 2rem;
      min-height: 122.61px;
    }

    img{
      @include breakpoint(large)
      {
        margin-top: 0;
        display: inline-block;
      }
    }

    #main-logo-white{
      width: 220px;
      height: 74.61172741679873px;
      margin-bottom: 3rem;
    }
    @include breakpoint(large){
      display: flex;
    }

    flex-direction: row;
  }



  .foot-box-1, .foot-box-2{
    display: flex;
    flex-direction: column;


    @include breakpoint(large)
    {
      margin-left: 3rem;
    }
    justify-content: center;

    p{
      margin-bottom: 1rem;
    }
  }

  .foot-box-2{
    margin-left: 0;
  }

  .vert-mobile{
    display: block;

    margin-left: 1rem;
    margin-right: 1rem;
    @include breakpoint(large)
    {
      margin-left: 3rem;
      margin-right: 3rem;
    }
  }

  #foot-legal {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    @include breakpoint(large)
    {
      flex-direction: row;
    }
    justify-content: space-between;
    margin: auto;

    bottom: 2rem;
    left: 0;
    right: 0;
    width: 70vw;
    z-index: 5;

  }

  .foot-social-banner{
    background: $dark-grey1;
    width: 80vw;
    height: 72px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;

    @include breakpoint(large)
    {
      flex-direction: column;
      justify-content: flex-start;
      width: 72px;
      height: 150px;
      margin-top: 0;

      position: absolute;
      right: 0;
      top: 0;
    }

    p{
      font-size: 12px;
      top: 5rem;
      left: 0.7rem;
      margin: 0;
      margin-right: 1rem;
      margin-top: 0.3rem;


      @include breakpoint(large)
      {
        position: initial;
        font-size: 12px;
        margin-top: 4rem;
        margin-right: 0;
      }
    }

    img{

      height: 29px;
      width: 16px;
      top: 1rem;
      left: 1.6rem;
      margin-right: 1.5rem;
      @include breakpoint(large)
      {
        position: initial;
        margin-right: 0;
        margin-top: 1rem;
      }
    }
  }
}

.footer-grid {
  @include xy-grid;
  @include breakpoint(large){
    // padding: rem-calc(30) 0;
  }


  section {
    @include xy-cell();
    @include breakpoint(large) {
      @include xy-cell(auto);
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
