// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}
//
.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

.site-navigation{
	background: none;
	height: 162px;

	position: relative;
	z-index: 55;
}

.site-navigation-overlay{
	display: none;
	@include breakpoint(large)
	{
		display: block;
	}
	background: $grey1;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.8;
	z-index: 50;
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}

#offCanvas{
	background: $grey1;
	font-family: 'de-walpergens-pica';
	font-size: 30px;
	z-index: 200;
	//the height of the header...w/out the wp-admin edit panel.
	margin-top: 86px;
	position: fixed;
	text-align: center;
	text-transform: uppercase;

	li:first-child{
			margin-top: 10%;
	}

	li{
		margin-bottom: 12%;
	}
	a{
		color: $dark-green;
	}
}


.site-header{

	position: relative;
	z-index: 35;

	#nav-brush-stroke{
		display: none;



		@include breakpoint(large)
		{
			display: block;
			position: absolute;
			width: 100vw;
			top: 7rem;
			z-index: 20;
		}
	}

	#mobile-nav-brush-stroke{
		display: block;
		position: absolute;
		width: 100vw;
		top: 4.5rem;
		z-index: 10;
		@include breakpoint(medium only){
			top: 7.5rem;
		}

		@include breakpoint(large)
		{
			display: none;
		}
	}

	.title-bar{
		background: $grey1;
		color: $dark-grey;
		padding-bottom: 1rem;
		position: fixed;
		z-index: 300;
		width: 100vw;

		@include breakpoint(large)
		{
			padding-bottom: 0.5rem;
		}

		.title-bar-right{
			display: flex;
			justify-content: center;
			margin-left: 2rem;
			.menu-icon::after{
				background: $dark-grey;
				box-shadow: 0 7px 0 $dark-grey, 0 14px 0 $dark-grey;
			}
		}

		.title-bar-left{
			display: flex;
			justify-content: center;
			margin-right: 2rem;
		}
	}


	.top-bar-left, .top-bar-right, .top-bar-center{
		ul{
			background: none;
			li{
				// background: #aaa;
				width: 100px;

				a{
					color: $dark-green;
					padding: 0;
				}

				//do style changes here...so it'll stay for mobile as well
			}

			li.is-active > a{
				color: $dark-green;
			}
		}
	}


	//the tablet header sizes
  @include breakpoint(medium only){

		#main-logo{
			max-width: 300px;
		}

		.site-navigation{
			padding-left: 5%;
			padding-right: 5%;
		}

		.top-bar-left, .top-bar-right{
			max-width: 120px;
			width: 100%;
		}

		.top-bar-right-menu, .top-bar-left-menu{
			font-family: 'de-walpergens-pica';
			font-size: 18px;
			text-transform: uppercase;
			a{
				margin-bottom: 8%;
			}
		}

		.top-bar-left{
			p{
				color: $dark-grey1;
				font-weight: 600;
			}
		}

    .top-bar-right{
			p{
				color: $dark-grey1;
				font-weight: 700;
				text-align: right;
			}

      .top-bar-right-menu{
        // display: none;
				text-align: right;

				li{
					width: 100%;
				}
      }
    }
  }



	@include breakpoint(large)
	{
		position: relative;

		.top-bar-left, .top-bar-right, .top-bar-center{
			z-index: 90;
			position: relative;
			margin: 0;
			width: 33vw;
		}

		.top-bar-left, .top-bar-right{
			display: flex;
			flex-direction: column;
		}

		.top-bar-right{
			text-align: right;
			margin-right: 5rem;

			p{
				color: $dark-grey1;
				font-weight: 600;
			}

			#blog-header{
				align-self: flex-end;
				max-width: 80px;
			}

		}

		.top-bar-left{
			text-align: left;
			margin-left: 5rem;

			p{
				color: $dark-grey1;
				font-weight: 600;
			}
		}

		.top-bar-left-menu{
			display: flex;
			justify-content: flex-start;
			ul{
				li{
					font-family: 'de-walpergens-pica';
					font-size: 20px;
					margin-right: 4rem;
					text-transform: uppercase;
				}
			}
		}

		.top-bar-right-menu{
			display: flex;
			justify-content: flex-end;

			ul{
				li{
					font-family: 'de-walpergens-pica';
					font-size: 20px;
					margin-left: 4rem;
					text-transform: uppercase;
				}
			}
		}

		.top-bar-center{
			text-align: center;
			.top-bar-title{
				margin: 0;
			}
		}

		#main-logo{
			max-width: 300px;
		}
	}
}
