.accordion-main-cont{
	// background: #aaa;
	text-align: left;
	width: 100vw;
	padding-left: 5%;
	padding-right: 5%;
	@include breakpoint(large){
		padding-left: 0;
		padding-right: 0;
		width: 818px;
	}
	hr{
		border-bottom: 1px solid $light-tan1;
		width: 100%;
	}

	a{
		color: $dark-grey1;
		font-size: 18px;
	}
}