.calc-main-cont{
	margin-left: 1rem;
	margin-right: 1rem; 
	margin-bottom: 4rem;
	width: 90vw;
	display: flex;
	flex-direction: column;
	align-items: center;

	hr{
		width: 75%;
		margin-bottom: 0;
	}

	hr:not(:first-child)
	{
		width: 100%;
		margin-top: 0.5rem;
		margin-bottom: 5rem;
	}

	.calc-main-title{
		font-size: 33px;
		color: $dark-grey1;
		text-transform: uppercase;
		font-weight: 700;
	}

	.calc-input-cont{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include breakpoint(large){
			flex-direction: row;
			width: 80%;
		}

		div{
			width: 100%;
		}

		//added the margin on inner containers
		div:not(:first-child){
			
			@include breakpoint(large){
				margin-left: 4rem;
			}
		}

		.calc-input-innercont{
			// background: #77e;
			input{
				width: 100%;
				padding: 0.5rem;
				height: 39px;
			}

			select{
				margin: 0;
			}

			h4{
				color: $dark-grey;
				font-size: 16px;
				margin-bottom: 0;
			}

			input::placeholder{
				color: $dark-grey1;
			}

			.calc-input, select{
				background-color: transparent;
			    border: none;
			    border-bottom: 1px solid $dark-grey1;
			    color: $dark-grey1;

			    margin-bottom: 1rem;
			}
		}
	}

	.calc-note-cont{
		margin-top: 2rem;
		text-align: left;
		width: 100%;
		color: $coal;

		@include breakpoint(large){
			width: 65%;
		}
	}

	.calc-result-cont{
		height: 40px;
		width: 100vw;

		margin-top: 2rem;

		display: flex;
		justify-content: center;
		align-items: center;

		display: none;

		.calc-result-innercont{
			height: 100%;
			width: 50vw;

			display: flex;
			justify-content: center;
			align-items: center;

			p, h4{
				margin-bottom: 0;
				font-size: 30px;
			}

			h4{
				color: $dark-grey1;
				font-weight: 700;
			}

			p{
				margin-left: 1rem;
				font-weight: 700;

			}
		}

		#invalid-data{
			display: none;
		}
	}

	#calc-submit-button{
		// display: none;
		margin-left: 0;
		background: none;
		background-image: url("../images/b2.png");
		background-size: 146px 51.38815789473684px;
		color: #fff;
		cursor: pointer;
		font-family: 'de-walpergens-pica';
		font-size: 16px;
		height: 52px;
		width: 100%;
		max-width: 146px;
		text-transform: uppercase;
		border: none;

		margin-top: 10%;

		@include breakpoint(medium down){
			align-self: center;
		}

		@include breakpoint(large){
			margin-left: 4rem;
			margin-top: 0;
		}

	}
}