.cta-cont{
	width: 100vw;
	height: 100vh;

	position: relative;
	overflow: hidden;

	@include breakpoint(large)
	{
		// margin-bottom: 6rem;
		height: 100%;
		width: 100vw;
		// margin-left: calc(50% - 50vw);
	}

	#cta-bg{
		// background: #e19;
		background-image: url("/wp-content/themes/Cote-Gelee/dist/assets/images/house-frame.png");
		height: 100%;
		width: 100%;
		background-size: cover;
		background-position: center, center;
	}

	.wp-block-group__inner-container{

		height: 100vh;
		width: 100vw;

		@include breakpoint(large){
			height: auto;
		}

		figure{
			height: 50vh;
			width: 100vw;
			margin-bottom: 0;
			display: none;
			@include breakpoint(large){
				height: auto;
				display: block;
			}

			img{
				width: 100vw !important;
				border-style: none;
				border-width: 2px;
				border-color: $light-tan1;
				box-shadow: none;
			}
		}
	}

	.cta-overlay{
		position: absolute;


		background: $dark-grey2;
		// display: none;

		bottom: 0;

		height: 50%;
		width: 100vw;
		opacity: 0.95;

		@include breakpoint(large)
		{
			display: block;
			height: 100%;
			width: 50vw;

			top: 0;
			right: 0;
		}
	}

	.wp-block-group{

		// background: #a83;
		// opacity: 0.5;
		position: absolute;
		bottom: 0;
		height: 50vh;
		@include breakpoint(large)
		{
			position: initial;
			height: 100%;
			width: 50vw;
		}


		// left: 0;



		@include breakpoint(large){
			position: absolute;
			right: 0;
			top: 0;
		}

		//the container in the cta that holds the text & button
		.wp-block-group__inner-container{
			display: flex;
			flex-direction: column;
			height: 50vh;
			// display: none;

			padding: 2rem;
			padding-top: 3.5rem;


			@include breakpoint(medium only){
				width: 60%;
			}

			@include breakpoint(large){
				padding-left: 10%;
				padding-right: 7rem;
				padding-top: 30%;
				padding-bottom: 0;
				width: 100%;
			}

			p, h3{
				color: #fff;
			}

			h3{
				font-family: 'de-walpergens-pica';
				font-size: 40px;
				padding-right: 0;
				@include breakpoint(large){
					font-size: 50px;
				}
			}

			p{
				font-size: 16px;
				margin-top: 1rem;
				margin-bottom: 5%;

				@include breakpoint(large){
					font-size: 18px;
					padding-left: 3.5rem;
					margin-bottom: 2%;
				}
			}

			.wp-block-button{
				margin-top: 1rem;
				text-align: center;
				@include breakpoint(large){
					text-align: left;
				}
				.wp-block-button__link{
					background: none;
					background: url('/wp-content/themes/Cote-Gelee/dist/assets/images/b1.png');
					background-size: 273px 86.7796052631579px;
					font-family: 'de-walpergens-pica';
					font-size: 18px;
					line-height: 3.5rem;
					text-transform: uppercase;
			 	}

			 	.more-width{
			 		width: 273px;
			 	}
			}
		}
	}
}
