.home-detail-main-cont{
	background: $grey1;
	width: 100%;
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 10%;

	@include breakpoint(medium only){
		text-align: left;
		
	}


	@include breakpoint(large)
	{
		width: 	100%;
		padding-left: 7%;
		padding-right: 7%;
		padding-top: 5%;
		padding-bottom: 3%;
		text-align: left;

		display: block;
		// margin-top: 10%;
		margin-bottom: 4rem;
	}

	.home-detail-header-cont{
		display: flex;
		justify-content: space-between;
		margin-bottom: 5%;

		h3{
			margin-top: 0;
			@include breakpoint(large){
				font-size: 40px;
			}
		}
	
		//hiding this for mobile but showing for full
		a{
			display: none;
			color: $dark-tan1;
			font-family: 'de-walpergens-pica';
			text-decoration: underline;

			@include breakpoint(medium only){
				font-size: 18px;
				display: block;
			}
			@include breakpoint(large){
				font-size: 24px;
				display: block;
			}
		}

		@include breakpoint(large){

		}
	}

	.home-detail-innercont{
		margin-bottom: 10%;
	}

	.home-mobile-button{
		color: $dark-tan1;
		font-family: 'de-walpergens-pica';
		font-size: 22px;
		text-decoration: underline;
		margin-top: 5%;

		@include breakpoint(medium up){
			display: none;
		}
	}

	.home-detail-sold-overlay{
		display: none;
	}

	.house-detail-single-cont{
		//I need to remove this margin for the last container being passed...how could I do that?
		display: flex;
		flex-direction: column;
		margin-top: 15%;
		margin-bottom: 10%;
		height: 100%;

		@include breakpoint(medium only){
			flex-direction: row;
			margin-bottom: 5rem;
			margin-top: 5%;
		}

		@include breakpoint(large)
		{
			flex-direction: row;
			height: 344px;
			margin-top: 0;
			margin-bottom: 3rem;
			padding-left: 0;
			padding-right: 0;
			justify-content: space-between;
		}

		.house-detail-single-image-cont
		{
			position: relative;

			height: 203px;

			@include breakpoint(medium only){
					width: 46%;
					// margin-top: 6%;
			}

			@include breakpoint(large)
			{
				width: 45%;
				height: 100%;

			}

			.house-detail-single-image-innercont{
				width: 100%;
				left: 0;
				right: 0;
				position: absolute;

				border-style: solid;
				border-width: 2px;
				border-color: $light-tan1;

				box-shadow: 12px 10px $light-tan1;

				@include breakpoint(large){
					width: 75%;
				}


				.house-detail-single-image{
					width: 100%;
					height: auto;

					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}

		.house-detail-single-text{
			position: relative;
			margin-bottom: 4rem;

			margin-top: 7%;

			@include breakpoint(medium only){
					margin-left: 5%;
					margin-top: 0;
					width: 60%;
			}

			@include breakpoint(large)
			{
				width: 65%;
				padding-bottom: 4rem;
				// padding-right: 5rem;
				margin-top: 0;
				margin-bottom: 0;
			}


			text-align: left;
			h3{
				padding-left: 1rem;
				padding-top: 8%;
				color: $dark-grey1;
				font-family: 'de-walpergens-pica';
				font-size: 33px;

				@include breakpoint(medium only){
					padding: 0;
				}

				@include breakpoint(large){
					padding-top: 0;
					padding-left: 0;
				}
			}

			.home-detail-button-cont{

				position: absolute;

				@include breakpoint(large){
					right: 0;
				}

				//setting this only on medium and lower
				@include breakpoint(medium down)
				{
					right: 0;
					left: 0;
				}

				img{
					width: 189px;
					height: 65px;
				}

				p{
					color: #fff;
					font-family: 'de-walpergens-pica';
					font-size: 20px;
					position: absolute;
					text-align: center;
					margin: auto;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					line-height: 4rem;
					text-transform: uppercase;
				}
			}

			.home-detail-button-innercont{
				width: 100%;
				height: 100%;
				position: relative;

				a{
					display: flex;
					justify-content: center;
					@include breakpoint(large)
					{
						display: block;
					}
				}
			}

			.house-detail-single-innertext{
				display: flex;
				flex-direction: column;
				padding-left: 1rem;
				padding-right: 1rem;
				padding-top: 1rem;
				padding-bottom: 1rem;
				justify-content: center;
				width: 100%;



				@include breakpoint(large){
					padding-left: 0;
					padding-right: 0;
					flex-direction: row;
					justify-content: space-between;
				}


				div{
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					width: 100%;
					@include breakpoint(large){
						justify-content: space-evenly;
						width: 50%;

					}
				}

				.house-detail-single-it-cont{
					display: flex;
					flex-direction: column;
					max-width: 112px;
					width: 100%;
					@include breakpoint(large)
					{
						max-width: 156px;
					}
				}

				p{
					margin-bottom: 0;
				}

				.home-text-title{
					color: $dark-grey;
				}

				.home-text-value{
					color: $dark-green;
					font-size: 1.5em;
					font-weight: 700;
				}
			}
		}
	}
}

.above-sold-hr{
	display: none;
}

.sold-homes-cont{
	display: none;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-top: 5rem;

	padding-left: 7%;
	padding-right: 7%;

	@include breakpoint(large){
		padding-left: 0;
		padding-right: 0;
	}

	h3{
		font-family: 'de-walpergens-pica';
		font-size: 36px;
		color: $dark-grey1;
		@include breakpoint(large){
			font-size: 40px;
		}
	}

	.home-detail-main-cont{
		width: 100%;
	}

	.home-detail-sold-overlay{
		display: block;
		background: #aaa;
		opacity: 0.8;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 32;

		display: flex;
		justify-content: center;
		align-items: center;

		p{
			font-family: 'de-walpergens-pica';
			font-size: 50px;
			color: $grey1;
			opacity: 1;
		}
	}

	.sold-homes-no-padding{
		padding-left: 0;
		margin-top: 0;
		padding-top: 0;
	}
}
