.questions-main-cont{
	background: $light-tan;
	height: 100%;
	width: 100%;
	@include breakpoint(large)
	{
		padding-left: 5rem;
		padding-right: 5rem;
	}

	padding-bottom: 0;

	@include breakpoint(large)
	{
		display: flex;
	}

	flex-direction: column;
	align-items: center;
	justify-content: center;

	input{
		background-color: transparent;
	    border: none;
	    border-bottom: 1px solid $dark-grey1;
	    color: $dark-grey1;
	}

	.questions-main-inner-cont{
		padding: 2rem;
		padding-top: 4rem;
		text-align: left;
	}

	.questions-header-cont{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-width: 860px;
		width: 100%;
		text-align: left;

		h3{

			color: $dark-grey1;
			font-family: 'de-walpergens-pica';
			font-size: 40px;
		}
	}

	.questions-input-cont{

		@include breakpoint(large)
		{
			max-width: 860px;
			min-width: 480px;
		}

		width: 100%;
		@include breakpoint(large)
		{
			display: block;
		}
	}

	.input-title{
		color: $dark-grey;
		font-size: 16px !important;
		margin: 0;
	}

	.input-cont{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;


		div{
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 420px;
			margin-bottom: 1.5rem;
			@include breakpoint(large)
			{
				margin-bottom: 0;
			}
		}

		@include breakpoint(large)
		{
			flex-direction: row;
			margin-bottom: 1rem;
			div:not(:first-child)
			{
				margin-left: 2rem;
			}
		}
	}

	.question-comment-cont{
		display: flex;
		flex-direction: column;
		@include breakpoint(large)
		{
			margin-top: 3rem;
			max-width: 860px;
			min-width: 480px;
		}
		width: 100%;
	}

	.question-button-cont{
		margin-top: 2rem;
		width: 146px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;

		@include breakpoint(large)
		{
			max-width: 860px;
			min-width: 480px;
		}

		width: 100%;
		.question-button{
			background-image: url("../images/green-b1.png");
			background-size: 146px 51.38815789473684px;
			color: #fff;
			font-family: 'de-walpergens-pica';

			line-height: 3rem;
			text-align: center;
			text-transform: uppercase;
			width: 146px;
			height: 51.38815789473684px;
			max-width: 100vw;
		}
	}
}


.q-contact-cont{
	.gform_wrapper{
		margin-top: 0;
		label{
			color: $dark-grey;
			font-size: 16px !important;
			font-weight: 500 !important;
			margin: 0;
		}

		//the header for the gravity form
		.gform_heading{
			h3{
				color: $dark-green;
				font-family: 'de-walpergens-pica';
				font-size: 40px;
				font-weight: 500;
			}
		}

		.gform_description{
			color: $dark-grey1;
			font-size: 16px;
			@include breakpoint(large){
				font-size: 18px;
			}
		}

		.ginput_container_text{

			input{
				background-color: transparent !important;
			    border: none !important;
			    border-bottom: 1px solid $light-tan !important;
			    color: $dark-grey1 !important;
			}
		}

		.gform_footer{
			.gform_button{
				background: none;
				background-image: url("../images/green-b1.png");
				border-bottom: none;
				background-size: 146px 51.38815789473684px;
				color: #fff;
				font-family: 'de-walpergens-pica';
				line-height: 1 !important;
				text-align: center;
				text-transform: uppercase;
				width: 146px;
				height: 51.38815789473684px;
				max-width: 100vw;
			}

			//addedc this to stop the gravity forms hover
			input:hover{
				background: none;
				background-image: url("../images/green-b1.png");
				border-bottom: none;
				background-size: 146px 51.38815789473684px;
				color: #fff;
				font-family: 'de-walpergens-pica';
				line-height: 1 !important;
				text-align: center;
				text-transform: uppercase;
				width: 146px;
				height: 51.38815789473684px;
				max-width: 100vw;
			}
		}
	}

	textarea{
		background-color: transparent;
		border: none;
		color: $dark-grey1;
	}
}

.q-cont-tan{
	background: $light-tan !important;
	height: 100%;
	width: 100%;

	@include breakpoint(medium up){
		height: auto;
	}
	.gform_wrapper{

		label{
			color: $dark-grey1;
			font-size: 16px !important;
			font-weight: 500 !important;
			margin: 0;
		}
	}
}

.q-cont-padding{
	padding: 2rem;
	padding-top: 2rem;
	padding-bottom: 1rem;

	@include breakpoint(large){
		padding-left: 5rem !important;
		padding-right: 5rem !important;
		padding-top: 4rem;
	}
}

.q-cont-padding-top{
	padding-top: 3rem;
}
