.slider-cont{
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-top: 3em;
	margin-bottom: 2rem;
	//the main container
	.slider-for{

		width: 70vw;

		margin-bottom: 1rem;
		img{
			width: 100%;
			height: auto;
		}

		.slick-list {
			height: 170px;

			@include breakpoint(medium up){
				height: auto;
			}
		}

		.slick-slide{
			max-height: 61vh;
			div{
				div{
					width: 70vw !important;
					display: flex !important;
					flex-direction: column;
					align-items: center;
				}
			}
		}
	}

	//the nav area
	.slider-nav{
		.slick-list{
			.slick-track{
				margin-left: initial;
			}
		}

		width: 70vw;

		.slick-slide{
			margin-left: 1rem;
		}

		.slick-arrow{
			top: -7rem;

			@include breakpoint(medium only){
				top: -21rem;
			}

			@include breakpoint(large){
				top: -18rem;
			}
		}

		.slick-prev{
			left: -2.9rem;
			@include breakpoint(large){
				left: -7rem;
			}
		}

		.slick-next{
			right: -2.9rem;
			@include breakpoint(large){
				right: -7rem;
			}
		}
	}

	.slick-next, .slick-prev{
		// display: none;
		// background: $light-tan1;
		color: #fff;
		height: 50px;
		width: 50px;
		font-size: 2em;
		line-height: 1em;

		top: 6rem;

		@include breakpoint(medium only){
			top: 11rem;
		}

		@include breakpoint(large){
			top: 17rem;
		}
	}

	.slick-prev:hover, .slick-prev:focus{
		background: url('/wp-content/themes/Cote-Gelee/dist/assets/images/left-arrow.png');
		background-size: 25px 45px;
		height: 45px;
		width: 25px;
	}

	.slick-next:hover, .slick-next:focus{
		background: url('/wp-content/themes/Cote-Gelee/dist/assets/images/right-arrow.png');
		background-size: 25px 45px;
		height: 45px;
		width: 25px;
	}

	.slick-prev:hover, .slick-next:hover{
		color: #fff;
		opacity: 1;
		// background: #aaa;
		display: block;
	} 

	.slick-prev:focus, .slick-next:focus{
		opacity: 1;
		color: #fff;
	}

	.slick-next{
		bottom: 0;
		right: -16%;

		background: url('/wp-content/themes/Cote-Gelee/dist/assets/images/right-arrow.png');
		background-size: 25px 45px;
		height: 45px;
		width: 25px;

		@include breakpoint(large){
			right: -10%;
		}
	}

	.slick-prev{
		left: -16%;
		bottom: 0;

		background: url('/wp-content/themes/Cote-Gelee/dist/assets/images/left-arrow.png');
		background-size: 25px 45px;
		height: 45px;
		width: 25px; 

		@include breakpoint(large){
			left: -10%;
		}
	}

	.slick-next::before, .slick-prev::before{
		content: "";
	}
}