@include breakpoint(medium down)
{
  .toggle-container{
    // display: none;
    position: relative;
    // background: #aaa;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;


  }


  #menu-text{
    width: 100%;
    position: relative;
    height: 20px;

    .menu-letters, .close-letters{
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 0.55rem;
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.4s ease;
    }
    .close-letters{
      opacity: 0;
      color: $dark-grey1;
    }
    .menu-letters{
      opacity: 1;
      color: $dark-grey1;
    }
    &.open{
      .close-letters{
        opacity: 1;
        transition: all 0.3s ease 0.3s;
      }
      .menu-letters{
        opacity: 0;
      }
    }
  }

  #menu-toggler{
    width: 26px;
    height: 17px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }


  #menu-toggler span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: $dark-grey1;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }


  #menu-toggler span:nth-child(1) {
    top: 0px;
  }

  #menu-toggler span:nth-child(2),#menu-toggler span:nth-child(3) {
    top: 8px;
  }

  #menu-toggler span:nth-child(4) {
    top: 16px;
  }

  #menu-toggler.open span:nth-child(1) {
    top: 10px;
    background: transparent;
    width: 0%;
    left: 50%;
  }

  #menu-toggler.open span:nth-child(2) {
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
  }

  #menu-toggler.open span:nth-child(3) {
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }

  #menu-toggler.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}
