.social-block-full{
	background: $forest;
	width: 100vw;
	margin-left: calc(50% - 50vw);
	height: 241px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-bottom: 4%;
	margin-top: 4%;

	h4{
		color: #fff;
		font-size: 25px;
		font-weight: 700;
	}

	.social-innerblock-full{
		// background: #a4c;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		@include breakpoint(large){
			width: 65%;
		}
	}

	.social-block-cont{
		// background: #e39;
		// width: 100px;
		height: 100px;
		margin: 10px;
		width: 50%;

		display: flex;
		justify-content: space-around;

		.social-block{
			// background: #ea5;
			margin-right: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
		}



	}

	.vertical {
		border-left: 1px solid $dark-green;
		height: 80px;

		margin-top: 5.5%;
		// display: none;
		@include breakpoint(large)
		{
			margin-top: 2.5%;
			margin-left: 3rem;
			margin-right: 3rem;
			display: block;
		}
	}
}
