$dark-nav-color: #2C3840;

$dark-tan: #DFAE6B;
$dark-tan1: #C99D60;
$dark-tan2: #D29D53;

$light-tan: #E9E0CC;
$light-tan1: #CFC7B2;


$dark-grey: #A19B8B;
$dark-grey1: #736F63;
$dark-grey2: #5C584F;

$white: #FFFFFF;

$grey: #EAEAEB;
$grey1: #F3EEE3;
$grey2: #D5D5D7;

$coal: #30363D;

$dark-green: #656F58;

$forest: #909F7E;