.main-blog-cont{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 7%;
	.inner-blog-cont{
		margin-bottom: 0.8rem;
		width: 100%;
		padding-left: 5%;
		padding-right: 5%;
		position: relative;

		@include breakpoint(large){
			padding-left: 0;
			padding-right: 0;
			width: 1000px;
		}

		article{
			flex-direction: column;

			@include breakpoint(large){
				flex-direction: row;
			}
			header{
				display: none;
			}
			
			.thumb-cont{
				overflow: hidden;
				height: 100%;
				width: 100%;
				max-height: 250px;
				max-width: 350px;

				@include breakpoint(large){

				}
				.thumb-innercont{
					width: 100%;
					height: auto;
					max-width: 355px;
					img{
						width: 100%;
						height: auto;
						max-width: 350px;
					}

				}
			}
		}

		.inner-blog-cat-cont{
			height: 27px;
			font-size: 14px;
			color: $dark-grey1;
			position: absolute;
			right: 0;
			top: 0;
			margin-top: -8px;
			margin-bottom: 0;

			@include breakpoint(large){
				margin-top: -20px;
			}

			a{
				font-size: 14px;
				color: $dark-grey1;
			}
		}

		.inner-blog-date{
			background: $grey1;
			color: $dark-green;
			font-family: 'de-walpergens-pica';
			font-size: 30px;
			width: 125px;
			height: 61px;
			position: absolute;
		}

		.entry-content{

			align-items: flex-start;
			width: 100%;
			margin-top: 7%;

			@include breakpoint(large){

				width: 70%;
				padding-left: 4%;
				padding-right: 2%;
				margin-top: 0;
			}


			h4{
				font-family: 'de-walpergens-pica';
				font-size: 28px;
				text-align: left;
				@include breakpoint(large){
					font-size: 33px;
				}

				a{
					color: #0a0a0a;
				}
			}

			p{
				color: $dark-grey2;
				font-size: 16px;
			}

			button{
				a{
					color: $dark-grey1;
				}
			}
		}
	}

	.blog-hr{
		margin-top: 0;
		margin-bottom: 20%;
		width: 90%;

		@include breakpoint(large){
			margin-bottom: 10%;
			width: 50%;
		}
	}
}

.main-single-blog-cont{
	.main-single-blog-grid{

		margin-left: 5%;
		margin-right: 5%;

		@include breakpoint(large){
			margin-left: 15%;
			margin-right: 15%;
			margin-top: 0;
		}

		h2{
			width: 100%;
		}

		//the content coming from the backend
		.main-content{
			width: 100%;
			margin: 0;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			text-align: left;

			h4{
				color: $dark-grey1;
				font-family: 'de-walpergens-pica';
				font-size: 50px;
			}

			p{
				color: $dark-grey1;
				font-size: 16px;
				@include breakpoint(large){
					font-size: 18px;
					padding-left: 10%;
				}
			}

			figure{
				text-align: center;
				margin-top: 5%;
				margin-bottom: 5%;

				@include breakpoint(large){
					align-self: center;
				}

				figcaption{
					font-size: 14px;
					text-align: right;
					padding-right: 4%;
				}
			}

			.wp-block-columns{
				justify-content: center;
				h4{
					font-size: 40px;
				}

				p{
					@include breakpoint(large){
						padding-left: 0;
					}
				}

				figure{
					@include breakpoint(large){
						width: 100%;
					}
				}

				.wp-block-column{
					@include breakpoint(large){
						max-width: 450px;
					}
				}
			}
		}


		.single-blog-date-cont{
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: 100%;
			margin-bottom: 0;

			@include breakpoint(large){
				// margin-bottom: 5%;
			}

			h3{
				margin-left: 1%;
				margin-right: 1%;
				margin-top: 0;
			}

			.left-blog-hr-cont, .right-blog-hr-cont{
				width: 50%;
			}

			.left-blog-hr1{
				width: 90%;
				margin-bottom: 0;
				margin-right: 0;

			}

			.left-blog-hr2{
				margin-top: 0.4rem;
				margin-right: 0;
			}

			.right-blog-hr1{
				width: 90%;
				margin-bottom: 0;
				margin-left: 0;

			}

			.right-blog-hr2{
				margin-top: 0.4rem;
				margin-left: 0;
			}
		}

		.blog-related-block{
			margin-top: 1%;
			height: 100%;
			width: 100%;

			h4{
				color: $dark-grey2;
				font-family: 'de-walpergens-pica';
				font-size: 36px;
				margin-top: 5%;
				margin-bottom: 5%;

				@include breakpoint(large){
					color: $dark-grey1;
					font-size: 40px;
				}
			}
		}
	}
}

.blog-header{
	display: flex;
	flex-direction: column;

	@include breakpoint(large){
		padding-left: 15%;
		padding-right: 15%;
	}

	.blog-cat-cont{
		align-self: flex-end;
		width: 100%;

		padding-left: 5%;
		padding-right: 5%;

		margin-top: 3%;
		margin-bottom: 3%;

		display: flex;
		flex-direction: column;

		@include breakpoint(large){
			padding-left: 0;
			padding-right: 0;
			width: 184px;
		}
		select{
			color: $dark-grey1;
			max-width: 100%;
			align-self: flex-end;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid #000;
			padding-left: 0;
			padding-right: 1rem;
			margin-bottom: 0;
			margin-top: 5%;

			@include breakpoint(large){
				margin-top: 0;
				max-width: 184px;
			}
		}

		p{
			align-self: flex-start;
			color: $dark-grey;
		}
	}

	.cat-header{
		margin-bottom: 5%;
	}
}
