.contact-main-cont{
	// margin-top: 7rem;

	#hr2{
		margin-bottom: 0;
	}

	.contact-header-cont{
		// display: none;
		width: 100vw !important;
		padding-left: 15%;
		padding-right: 15%;
		.wp-block-group__inner-container{
			flex-direction: column;
			margin-top: 5%;

			h3{
				@include breakpoint(large){
					max-width: 700px;
				}
			}

			p{
				font-size: 16px;
				@include breakpoint(large){
					font-size: 18px;
					max-width: 999px;
					padding-left: 10%;
				}
			}
		}
	}

	.gform_title, .gform_description{
		display: none !important;
	}

	.contact-innercont{

		h3{
			color: $dark-green;
			font-family: 'de-walpergens-pica';
			font-size: 42px;
			padding-right: 5%;
			text-align: left;
			width: 100%;
			margin-top: 0;

			@include breakpoint(large)
			{
				color: $dark-grey1;
				font-size: 50px;
				margin-bottom: 0;
				width: 100%
			}
		}

		p{
			color: $dark-grey1;
			max-width: 999px;
			margin-top: 7%;
			text-align: left;
			padding-right: 5%;

			line-height: 1.8;
			@include breakpoint(large)
			{
				// padding-left: 6.5rem;
				margin-top: 1%;
				line-height: 1.6;
				padding-right: 0;
			}
		}
	}
	
}

.q-contact-cont{
	background: none;
	overflow: hidden;

	padding-left: 5%;
	padding-right: 5%;

	@include breakpoint(large){
		padding-left: 0;
		padding-right: 0;
	}
	width: 100%;

	.questions-header-cont
	{
		margin-bottom: 3rem;
		h3{
			max-width: 520px;
			margin-left: -5rem;
		}

		p{
			margin-top: 1rem;
		}
	}

	.question-button-cont{
		margin-top: 3rem;
		justify-content: flex-start;
	}
}

.contact-map-cont
{
	min-height: 500px;
	position: relative;
	display: flex;
	height: 100%;
	margin-bottom: 4rem;
	width: 100%;

	@include breakpoint(medium only){
		margin-bottom: 10rem;
	}

	@include breakpoint(large){
		justify-content: center;
		height: 100%;
		margin-bottom: 0;
	}

	.contact-map-innercont{

		height: 100%;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column-reverse;

		@include breakpoint(medium only){
			margin-top: 10%;
		}

		@include breakpoint(large){
			flex-direction: row;
			height: 500px;
			max-width: 70%;
			width: 100%;
		}

		.contact-halfcont
		{
			width: 100%;
			@include breakpoint(large){
				height: 100%;
				width: 50%;
			}
		}

		.cont-left, .cont-right{
			width: 100%;
		}

		.cont-left{
			padding-left: 1.3rem;
			padding-right: 1.3rem;
			display: flex;
			justify-content: center;

			height: 380px;

			@include breakpoint(large){
				padding-left: 0;
				padding-right: 0;
				height: 100%;
			}


			.contact-map-innercont{
				margin-top: 5rem;
				width: 100%;
				max-width: 425px;
				max-height: 320px;
				border-style: solid;
				border-width: 4px;
				border-color: $light-tan1;
				//
				box-shadow: 12px 10px $light-tan1;

				@include breakpoint(medium only){
					margin-top: 10rem;
				}

				@include breakpoint(large){
					width: 425px;
				}

				iframe{
					height: 100%;
					width: 100%;
					max-width: 425px;
				}
			}
		}

		.cont-right{

			height: 33%;
			@include breakpoint(large){
				height: 100%;
			}

			img{
				max-width: 50%;
				margin-top: 3rem;
				@include breakpoint(large){
					margin-top: 7.5rem;
				}
			}

			#cp1{
				margin-top: 2rem;
				margin-bottom: 0;
			}

			.contact-text-cont{
				p{
					color: $dark-grey1;
				}
			}
		}
	}
}

.gform_footer{
	text-align: center;
	@include breakpoint(large){
		text-align: left;
	}
}
