.default-cont{

	//add drop shadow to images here

	p{
		@include breakpoint(large){
			font-size: 18px;
		}
	}

	figure {
		img {
			border-style: solid;
			border-width: 2px;
			border-color: $light-tan1;

			box-shadow: 12px 10px $light-tan1;
		}
	}

	
	p {
		@include breakpoint(large){
			max-width: 61vw;	
		}
	}

	.ls-cont{
		width: 100%;
		margin-top: 10%;
		margin-bottom: 10%;
		@include breakpoint(medium only){
			margin-top: 0;
		}

		@include breakpoint(large){
			margin-top: 0;
			margin-bottom: 0;
		}
		.wp-block-group__inner-container{
			display: flex;
			flex-direction: column;

			margin-left: 0;
			margin-right: 0;

			@include breakpoint(medium up){
				margin-left: 0;
				margin-right: 0;
			}

			//the width of the image

			h3{
				font-size: 42px;
				color: $dark-green;
				padding-top: 5%;
				padding-right: 8%;
				text-align: left;

				@include breakpoint(large){
					color: $dark-grey1;
					font-size: 50px;
					margin-top: 0;
					padding-top: 0;
				}
			}

			p{
				padding-right: 8%;

				@include breakpoint(large){
					max-width: 100%;
					padding-left: 10%;
					padding-right: 7%;
				}
			}
		}
	}
}