// Page header
// Intro
.intro {
  @include xy-grid-container;
  @include xy-grid;

  .fp-intro {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(10);
      @include xy-cell-offset(1);

      h2 {
        font-weight: 300;
        margin-bottom: 1.5rem;
      }

      h4 {
        font-size: 1.125rem;
        line-height: 1.6;
        color: #777;
        margin-bottom: 2rem;
      }
    }
  }
}

// Section divider
.section-divider {
  @include xy-grid-container;
  @include xy-grid;

  hr {
    @include xy-cell(12);
    @extend .dotted;
    box-sizing: border-box;
  }
}


.home-hr-cont{
  width: 100%;
  margin-top: 12%;

}

.front-columns{
  .wp-block-column{
    margin-left: 0;
    width: 50%;
  }
}

  
#brush-page-break{
  margin-top: -7.5%;
  width: 100vw;
  z-index: 100;

  @include breakpoint(medium only){
    display: none;
  }

  @include breakpoint(large){
    margin-top: -7%;
  }
}

// .front-group{
.wp-block-group{

  width: 100%;
  display: flex;
  justify-content: center;

  .wp-block-group__inner-container
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;

    @include breakpoint(medium only){

    }

    @include breakpoint(large)
    {
      height: 100%;
      flex-direction: row;
    }



    .wp-block-image{
      margin-left: 0;
      margin-right: 0;
    }



    .wp-block-group{
      width: 100%;
      @include breakpoint(large)
      {
        width: 50vw;
      }
    }

    .wp-block-image{
      margin-bottom: 0;
      @include breakpoint(large)
      {

      }

      img{
        width: 100vw;
        @include breakpoint(large)
        {
          width: 50vw;
          height: 100%;
        }
      }
    }
  }

  .g1{


    .wp-block-group{
      position: absolute;
      color: #fff;
      height: 100%;
      max-height: 300px;
      top: 3.2rem;

      @include breakpoint(medium only){
        top: 8.2rem;
        width: 75vw;
      }


      @include breakpoint(large)
      {
        max-width: 420px;
        left: 15.5%;
        top: 22.1%;
      }


      .wp-block-group__inner-container{
        display: flex;
        flex-direction: column;
      }

      .front-head{
        color: #fff;
        font-size: 42px;

        @include breakpoint(large)
        {
          font-size: 55px;
        }
      }

      .front-desc{
        color: #fff;
        font-family: 'Source Sans Pro';
        font-size: 16px;
        max-width: 300px;

        @include breakpoint(large){
          font-size: 18px;
          max-width: 350px;
        }

      }

      .front-link{

        padding-top: 1rem;
        text-align: left;
        a{
          background: none;
          color: $dark-tan1;
          font-family: 'de-walpergens-pica';
          font-size: 21px;
          text-decoration: underline;
          padding: 0;

          @include breakpoint(large)
          {
            font-size: 24px;
          }
        }
      }

      p{
        font-family: 'de-walpergens-pica';
      }
    }
  }

  .g2{
    .wp-block-group__inner-container
    {
      color: $dark-grey1;
      flex-direction: column;

      height: 100%;
      width: 100%;

      @include breakpoint(large)
      {

      }

      h4{
        font-family: 'de-walpergens-pica';
        font-size: 40px;
      }

      p{
        font-size: 18px;
      }
    }
  }
}


.intro-group{

  @include breakpoint(medium only){
    margin-top: -16rem;
  }

  @include breakpoint(large)
  {
    height: 434px;
    margin-top: 7rem;
    // margin-bottom: 4rem;
  }

  p, h4{
    color: $dark-grey1;
  }

  h4, .intro-link{
    font-family: 'de-walpergens-pica';
  }

  h4{
    font-size: 42px;
    color: $dark-green;
    line-height: 1.2;
    @include breakpoint(large)
    {
      color: $dark-grey1;
      font-size: 60px;
      line-height: 1.4;
    }

  }

  p{
    font-size: 16px;
    @include breakpoint(large){
      font-size: 18px;
    }
  }

  .intro-para{
    margin-bottom: 0;

    @include breakpoint(large)
    {
      padding-top: 1rem;
      padding-left: 7rem !important;
    }
  }

  .wp-block-group__inner-container{
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      @include breakpoint(large)
      {
        flex-direction: row;
      }

    .intro-left, .intro-right{

      min-height: 40vw;
      width: 100%;
      @include breakpoint(large){

        height: 434px;
        width: 50vw;
      }

      position: relative;
    }

    .intro-right{
      overflow: hidden;
      @include breakpoint(large){
        overflow: hidden;
      }

      .intro-img1{
        @include breakpoint(large)
        {
          margin-right: 2rem;
        }
        img{
          width: 100vw;
          padding-left: 2rem;
          padding-right: 2rem;
          padding-top: 3rem;
          @include breakpoint(large)
          {
            padding: 0;
            width: 50vw;
            height: auto;
          }

        }
      }
      .intro-img2{
        position: absolute;
        top: 6.5rem;
        right: -2.1rem;
        transform: rotate(90deg);

        @include breakpoint(medium only){
          top: 12rem;
        }


        @include breakpoint(large)
        {
          top: 10rem;
          right: -6rem;
        }

        img{
          width: 45vw;
          @include breakpoint(large)
          {
            width: 24vw;
          }
        }
      }
    }

    .intro-left{

      .wp-block-group__inner-container
      {
        display: flex;
        flex-direction: column;

        max-width: 100vw;
        text-align: left;
        padding: 2rem;

        @include breakpoint(medium only){
          padding-top: 8%;
          padding-left: 15%;
          padding-right: 15%;
          margin-bottom: 10%;
        }

        @include breakpoint(large)
        {
          max-width: 550px;
          padding: 0;
          position: absolute;
          // top: 4rem;
          left: 6rem;
          height: 65%;
        }
      }
    }

    .wp-block-button{
      margin-top: 1rem;
      @include breakpoint(large)
      {
        margin-top: 0;
        padding-top: 2rem;
        padding-left: 7rem;
      }

      a{
        background: none;
        color: $dark-tan1;
        font-family: 'de-walpergens-pica';
        font-size: 21px;
        text-decoration: underline;
        padding: 0;

        @include breakpoint(large)
        {
          font-size: 29px;
        }
      }
    }
  }
}
