.homes-archive-text-cont{
	// display: flex;
	// flex-direction: column;
	// align-items: center;

	.homes-archive-text-innercont{
		margin-top: 10%;
		margin-bottom: 15%;
		width: 100%;

		@include breakpoint(large){
			margin-top: 0;
			margin-bottom: 0;

			// margin-left: 20%;
		}
		.homes-sub-header{
			color: $dark-green;
			font-family: 'de-walpergens-pica';
			font-size: 42px;
			padding-right: 5%;
			text-align: left;
			width: 100%;
			margin-top: 0;

			@include breakpoint(large)
			{
				color: $dark-grey1;
				font-size: 50px;
				margin-bottom: 0;
				width: 100%
			}
		}

		.homes-para{
			color: $dark-grey1;
			max-width: 850px;
			margin-top: 7%;
			text-align: left;
			padding-right: 5%;

			line-height: 1.8;
			@include breakpoint(large)
			{
				// padding-left: 6.5rem;
				margin-top: 1%;
				line-height: 1.6;
				padding-right: 0;
			}
		}
	}
}
