.main-landing-cont{
	// display: none;

	#brush-page-break{
	  margin-top: -22%;
	  margin-bottom: 22%;
	  width: 100vw;
	  z-index: 10;

	  @include breakpoint(large){
	    margin-top: -8%;
	    margin-bottom: 8%;
	    width: 100vw;
	  	z-index: 10;
	  }
	}


	.landing-cover{
		//this somehow is keeping the brush stroke in place
		margin-bottom: 3.1%;

		margin-top: 25%;

		@include breakpoint(medium only){
			margin-top: 0;
		}

		@include breakpoint(large){
			margin-top: 0;
		}

		

		.wp-block-group__inner-container{
			display: flex;
			flex-direction: column;

			figure{
				img{
					width: 100vw;
				}
			}

			.wp-block-button{
				align-self: center;
				background-color: transparent;
				background: url('/wp-content/themes/Cote-Gelee/dist/assets/images/b1.png');
				background-size: 230px 73.11102274918065px;
				width: 230px;
				height: 73.11102274918065px;
				
				margin-top: -7%;
				z-index: 33;
				line-height: 4.5rem;

				@include breakpoint(medium only){
					background-size: 180px 57.217322151532684px;
					width: 180px;
					height: 57.217322151532684px;

					line-height: 3.5rem;
				}

				@include breakpoint(large){
					line-height: 5rem;
					background-size: 273px 86.7796052631579px;
					width: 273px;
					height: 86.7px;
				}

				.wp-block-button__link{
					background-color: transparent;
					font-family: 'de-walpergens-pica';
					font-size: 12px;
					text-transform: uppercase;
					margin-bottom: 0;

					@include breakpoint(large){
						font-size: 18px;
					}
				}
			}
		}
	}

	.wp-block-media-text__media{
		img{
			border-style: solid;
			border-width: 2px;
			border-color: $light-tan1;
			box-shadow: 12px 10px $light-tan1;
		}
	}



	.landing-text-left{
		margin-top: 8%;

		figure{
			margin-left: 15%;
			@include breakpoint(medium up){
				margin-left: 0;
			}
		}

		.wp-block-media-text__content{
			
			@include breakpoint(large){
				margin-left: 25%;
			}
	
			h4{
				
				@include breakpoint(large){
					padding-right: 40%;
				}
			}

			p{
				
				@include breakpoint(large){
					padding-left: 20%;
				}
			}
		}
		margin-bottom: 5%;
	}

	.landing-text-right{
		margin-bottom: 8%;

		figure{
			margin-right: 15%;
			@include breakpoint(medium up){
				margin-right: 0;
			}
		}

		.wp-block-media-text__content{
			

			@include breakpoint(large){
				margin-right: 20%;
			}

			p{
				
				@include breakpoint(large){
					padding-left: 20%;
				}
			}

			h4{
				
				@include breakpoint(large){
					padding-right: 30%;
				}
			}
		}
	}

	.wp-block-media-text{
		width: 100vw;
		display: inline-table;

		@include breakpoint(large){
			display: grid;
		}
		.wp-block-media-text__content{
			text-align: left;
			margin-top: 5%;
			@include breakpoint(large){
				margin-top: 0;
			}

			h4{
				color: $dark-green;
				font-size: 42px;
				font-family: 'de-walpergens-pica';
				@include breakpoint(large){
					color: $dark-grey1;
					font-size: 50px;
				}
			}
		}
	}
}