// These are the classes that fill the lot map
.green{
	fill: #C6D2B8 !important;
}

.tan{
	fill: #DEAE6A !important;
}

.grey{
	// the colors are inverted cause it would take much longer to do this
	fill: $dark-grey !important;
}

.lots-main-cont{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3rem;

	@include breakpoint(medium only){
		margin-top: 2rem;
	}

	@include breakpoint(large){
		margin-top: 0; 
	}

	//the id for the container w/ the lots
	#lots{

		//the lots
		#h-1, #h-2, #h-3, #h-4, #h-5, #h-6, #h-7, #h-8, #h-9, #h-10, #h-11, #h-12, #h-13, #h-14, #h-15, #h-16, #h-17, #h-18, #h-19, #h-20, #h-21, #h-22, #h-23, #h-24, #h-25, #h-26, #h-27, #h-28, #h-29, #h-30, #h-31, #h-32, #h-33, #h-34, #h-35, #h-36, #h-37, #h-38, #h-39, #h-40, #h-41, #h-42, #h-43, #h-44, #h-45, #h-46, #h-47, #h-48, #h-49, #h-50, #h-51, #h-52, #h-53, #h-54, #h-55, #h-56, #h-57, #h-58, #h-59, #h-60, #h-61, #h-62, #h-63{
			fill: none;
		}
	}

	hr{
		margin-top: 0;
		width: 90%;
		@include breakpoint(large)
		{
			width: 100%;
		}
	}

	#lots-hr3{
		margin-bottom: 0.4rem;
		margin-top: 2.5rem;
		width: 80%;
		@include breakpoint(large)
		{
			margin-bottom: 0.6rem;
			margin-top: 7rem;
			width: 68%;
		}
	}

	.q-negative-margin{
		@include breakpoint(medium down){
			margin-top: -11%;
		}
	}

	//The container for the lots
	.lots-svg-cont{
		height: 80%;
		width: 100%;
		margin-top: 2.5rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include breakpoint(large){
			margin-top: 5rem;
			width: 100vw;
		}

		.lots-svg-header-cont{
			display: flex;
			flex-direction: column;

			@include breakpoint(medium only){
				flex-direction: row;
			}
			@include breakpoint(large)
			{
				flex-direction: row;
				justify-content: center;
				height: 50px;
			}

			width: 100%;
			.key-cont{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 1rem;
				margin-left: 2rem;
				margin-right: 2rem;
				height: 32px;
				max-width: 240px;

				@include breakpoint(medium only){
					max-width: 185px;
				}

				@include breakpoint(large)
				{
					display: flex;
					margin-bottom: 0;
				}

				p{
					margin: 0;
					margin-left: 2rem;
				}

				.key-box{
					min-width: 80px;
					height: 32px;
					background: #aa7;
					border-style: solid;
					border-width: 0.5px;
					border-color: #000;
				}

				.key-text{
					color: $dark-grey1;
					min-width: 180px;
					text-align: left;
				}

				#box1{
					background: #C6D2B8;
				}

				#box2{
					background: #DEAE6A;
				}

				#box3{
					background: $dark-grey;
				}
			}
		}

		.lots-svg{
			overflow: hidden;

			width: 100vw;

			@include breakpoint(large){
				width: 132vw;
			}
			
			svg{
				width: 170%;
				margin-left: -32%;

				@include breakpoint(large)
				{
					width: 100%;
					margin-left: 0;
				}
			}
		}
	}
}

.lots-header-cont{

	width: 90vw;
	@include breakpoint(large)
	{
		width: 100vw;
	}


	.lots-header-innercont{
		text-align: left;
	}

	h2{
		margin-top: 4rem;
		margin-bottom: 2rem;
		@include breakpoint(large)
		{
			margin-bottom: 4rem;
		}
	}

	h3{
		font-size: 42px;
		color: $dark-green;
		width: 70%;
		margin-top: 16%;
		// margin-bottom: 2rem;

		@include breakpoint(large)
		{
			color: $dark-grey1;
			font-size: 50px;
			// margin-left: 2rem;
			margin-top: 0;
			// margin-bottom: 2rem;
			width: 100%;
		}
	}

	p{
		font-size: 16px;
		color: $dark-grey2;
		margin-bottom: 0;

		@include breakpoint(large)
		{
			// font-size: 16px;
			color: $dark-grey1;
			// margin-left: 8.5rem;
			// margin-bottom: 2rem;
		}
	}
}

.lots-subheader-cont{
	display: flex;
	flex-direction: column;
	margin-top: 4rem;
	margin-bottom: 1.5rem;
	justify-content: space-between;
	position: relative;
	width: 100%;

	@include breakpoint(large)
	{
		flex-direction: row;
		margin-top: 4rem;
		height: 480px;
		width: 77vw;
	}


	.lots-subheader-innercont{
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 315px;
		margin-bottom: 2rem;
		margin-left: 1rem;

		@include breakpoint(medium only){
			margin-left: 6rem;
		}

		@include breakpoint(large)
		{
			margin-bottom: 0;
			margin-left: 0;
			width: 300px;
			height: 431px;
		}

		img{
			align-self: flex-start;

			width: 25%;
			height: auto;

			@include breakpoint(medium only){
				width: 13%;
			}

			@include breakpoint(large)
			{
				width: auto;
				align-self: center;
			}
		}

		img, h3, p{
			position: relative;
			z-index: 20;
		}

		h3, p{
			color: $dark-grey1;
			margin-top: 2rem;
			width: 65%;

			@include breakpoint(medium only){
				width: 25%;
			}
		}

		h3{
			margin-top: 0;
			padding-right: 0;
			@include breakpoint(large)
			{
				margin-top: 2rem;
			}
		}

		.lots-subheader-innercont-bg{
			background: $light-tan;
			height: 275px;
			width: 275px;


			@include breakpoint(large)
			{
				margin-left: 0;
				height: 363px;
				width: 100%;
			}
			position: absolute;
			z-index: 15;
			bottom: 0;
		}
	}
}