.cust-page-header{
	// display: none;
	padding-left: 5%;
	padding-right: 5%;

	@include breakpoint(large){
		padding-left: 15%;
		padding-right: 15%;
	}

	h3{
		max-width: 700px;
	}

	p{
		max-width: 850px;
	
		font-size: 16px;
		@include breakpoint(large){
			font-size: 18px !important;
			padding-left: 10%;
		}
	}

	.cust-page-innerheader, .wp-block-group__inner-container{
		margin-top: 5% !important;
		margin-bottom: 5% !important;
	}
}

#hr1{
	margin-bottom: 0;
	margin-top: 0;
	max-width: 81vw;
	width: 84%;

	@include breakpoint(medium){
		width: 82%;
		max-width: 100%;
	}

	@include breakpoint(large)
	{
		width: 100%;
		max-width: 67vw;
	}
	
}

#hr2{
	margin-top: 0.4rem;
	max-width: 22rem;

	@include breakpoint(medium){
		width: 88%;
		max-width: 100%;
	}

	@include breakpoint(large)
	{
		width: 100%;
		max-width: 70vw;
	}
	width: 100%;
}

.wp-block-media-text{

	@include breakpoint(medium down){
		display: flex;
		flex-direction: column;
	}

	.wp-block-media-text__content{
		@include breakpoint(medium down){
			padding-top: 5%;
		}
	}
}

.margin-top{
	margin-top: 7rem;
}

.margin-bottom{

	margin-bottom: 17%;
	@include breakpoint(large){
		margin-bottom: 9%;
	}
}

.little-margin{
	margin-left: 7% !important;
	margin-right: 7% !important;
}

.no-padding{
	padding-right: 0;
	padding-left: 0;

	.entry-content{
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
}

.main-container{
	padding-left: 0;
	padding-right: 0;
	max-width: 100vw;
	text-align: center;
	overflow: hidden;

	.main-grid1{

		margin-top: 20%;

		@include breakpoint(medium only){
			margin-top: 0;
		}

		@include breakpoint(large){
			margin-top: 0;
		}
	}
	
	.main-grid{
		justify-content: center;
		flex-direction: column;

		margin-left: 8%;
		margin-right: 8%;

		@include breakpoint(medium only){
			margin-top: 0;
			margin-left: 8%;
			margin-right: 8%;
		}

		@include breakpoint(large){
			margin-left: 0;
			margin-right: 0;
		}

		.main-content{
			width: 100%;
			margin: 0;
		}

		.full-width{
			width: 100vw;
		}
	}

	.main-grid-front{

		margin-left: 0;
		margin-right: 0;
	}

	h2{
		color: $dark-green;
		font-family: 'de-walpergens-pica';
		font-size: 45px;
		margin-top: 6rem;
		margin-bottom: 2rem;
		text-transform: uppercase;

		@include breakpoint(medium only){
			font-size: 55px;
			margin-bottom: 2rem;
		}

		@include breakpoint(large)
		{
			font-size: 73px;
			margin-bottom: 4rem;
			margin-top: 4rem;
		}
	}

	h3{
		color: $dark-grey1;
		font-family: 'de-walpergens-pica';
		font-size: 25px;
		padding-right: 5%;
		margin-top: 3%;

		@include breakpoint(large){
			font-size: 33px;
			padding-right: 0;
		}
	}


	.main-content-full-width{
		margin-left: 0;
		margin-right: 0;
		width: 100%;

		article{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	.entry-title{
		display: none;
	}

	.entry-content{

		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		@include breakpoint(large)
		{
			padding-right: 0;
			padding-left: 0;
			width: 100%;
		}

		p{
			color: $dark-grey1;
			text-align: left;

			padding-left: 5%;
			padding-right: 5%;

			// margin-left: 5%;
			// margin-right: 5%;

			@include breakpoint(large)
			{
				padding-left: 0;
				padding-right: 0;
				max-width: 50vw;
			}


		}

		// h2{
		// 	margin-bottom: 4rem;
		// }

		h3{
			// align-self: flex-start;
			text-align: left;
		}

		figure{
			margin-left: 5%;
			margin-right: 5%;
			text-align: left;

			@include breakpoint(large){
				margin-left: 0;
				margin-right: 0;
			}
		}

		figcaption{
			font-size: 14px;

			@include breakpoint(large){
				font-size: 100%;
			}
		}

		.wp-block-cover, .wp-block-cover-image{
			height: 730px;
		}

		.hero-group{
			position: relative;
			width: 100vw;
			max-width: 100%;
			height: 70vh;
			@include breakpoint(large)
			{
				height: auto;
			}

			@include breakpoint(large){
				margin-top: -8rem;
			}
			.wp-block-group__inner-container{
				width: 100%;
				display: flex;
				flex-direction: column;
				overflow: hidden;

				.wp-block-image{

					position: absolute;
					right: -13rem;
					top: 0;
					width: 1000px;

					//tablet
					@include breakpoint(medium only){
						right: 0;
						width: 100%;
					}

					@include breakpoint(large)
					{
						position: initial;
						width: 100vw;
					}

					img{
						width: 1000px;
						height: auto;

						@include breakpoint(medium only){
							width: 100vw;
						}
						@include breakpoint(large)
						{
							width: 100vw;
						}
					}
				}


				//the container w/ the header and buttons
				.wp-block-group{
					position: absolute;
					margin: auto;
					margin-top: 1rem;
					left: 0;
					right: 0;
					bottom: 0;
					top: 25%;

					@include breakpoint(medium only){
							top: 22%;
					}

					@include breakpoint(large)
					{
						margin: auto;
						top: 37%;
					}

					h2{
						margin-bottom: 0;
						margin-top: 0;
					}

					.wp-block-group__inner-container{


						@include breakpoint(large){
							width: 50vw;
						}


						//the container w/ header & buttons
						.wp-block-group{
							// margin-top: 3rem;
							margin-top: 1rem;
							position: relative;
							top: 0;

							@include breakpoint(large)
							{
								margin-top: 6rem;
							}

							//the container w/ the buttons
							.wp-block-group__inner-container{
								display: flex;
								flex-direction: column;
								justify-content: center;
								align-items: center;

								@include breakpoint(medium only){
									flex-direction: row;
									justify-content: space-evenly;
								}

								@include breakpoint(large)
								{
									// width: 54vw;
									flex-direction: row;
									justify-content: space-around;
								}
							}
						}
					}

					.hero-button1, .hero-button2{
						// display: none;
						a{
							height: 100%;
							width: 100%;

						}
					}


					.hero-button1{
						background: url('/wp-content/themes/Cote-Gelee/dist/assets/images/b1.png');
						margin-bottom: 1rem;

						//tablet
						@include breakpoint(medium only){
							margin-bottom: 0;
						}

						@include breakpoint(large){
							margin-bottom: 0;
						}

					}

					.hero-button2{
						background: url('/wp-content/themes/Cote-Gelee/dist/assets/images/b2.png');
					}

					//the actual button
					.wp-block-button{

						background-size: 230px 73.11102274918065px;
						width: 230px;
						height: 73.11102274918065px;

						@include breakpoint(medium only){
							background-size: 180px 57.217322151532684px;
							width: 180px;
							height: 57.217322151532684px;
						}

						@include breakpoint(large){
							background-size: 273px 86.7796052631579px;
							width: 273px;
							height: 86.7px;
						}
						.wp-block-button__link{
							background: none;
							line-height: 2.3rem;
							text-transform: uppercase;
							font-size: 20px;
							font-weight: 700;

							@include breakpoint(medium only){
								line-height: 1.7rem;
								font-size: 16px;
							}
							@include breakpoint(large){
								line-height: 2.8rem;
							}
						}
					}
				}
			}
		}

		.wp-block-columns{
			margin-top: 1rem;
			width: 100vw;
			padding-left: 5%;
			padding-right: 5%;
			@include breakpoint(large){
				margin-top: 3rem;
				padding-left: 0;
				padding-right: 0;
				width: 818px;
			}
			.wp-block-column{


				@include breakpoint(large){
					margin-right: 3rem;
					max-width: 345px;
				}

				h3{
					font-size: 36px;
					text-align: left;
					margin-bottom: 1rem;
					padding-right: 5%;

					@include breakpoint(large){
						font-size: 40px;
						margin-bottom: 2rem;
						padding-right: 0;
					}
				}

				p{
					color: $dark-grey1;
					font-size: 16px;

					@include breakpoint(large){
						font-size: 18px;
						padding-right: 2rem;
					}
				}

				figure{
					margin-left: 0;
					margin-right: 0;
				}

				figcaption{
					color: $coal;
					font-size: 14px;
					text-align: left;

					@include breakpoint(large){
						margin-top: 3rem;
						padding-left: 4rem;
					}
				}

				img{
					width: 100%;
				}
			}

			.wp-block-column{

			}
		}
	}
}

// .front-group{
.wp-block-group{
	@include breakpoint(large){
		display: block;
	}
}

.full-height{
	height: 100%;
}


nav{
	display: flex;
	flex-direction: row;
	justify-content: center;
	.pagination{
		font-family: 'de-walpergens-pica';

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		

		li{
			font-size: 30px;	
			text-decoration: underline;
			color: $dark-green;
			a{
				color: $light-tan1;
			}
			
		}

		.current{
			background: none;
			color: $dark-green;
		}

		.pagination-next{
			background: url('/wp-content/themes/Cote-Gelee/dist/assets/images/right-arrow.png');
			// background-size: 230px 73.11102274918065px;
			background-size: 15px 27px;
			height: 27px;
			width: 15px;
			margin-left: 25%;
			a::after{

				content: '';
			}
		}

		.pagination-previous{
			background: url('/wp-content/themes/Cote-Gelee/dist/assets/images/left-arrow.png');
			// background-size: 230px 73.11102274918065px;
			background-size: 15px 27px;
			height: 27px;
			width: 15px;
			margin-right: 25%;
			a::before{

				content: '';
			}
		}

		a:hover{
			background: transparent;
		}
	}
}