.single-home-main-cont{
	transition: all 0.8s ease;
	.entry-content{
		p{
			margin-left: 5%;
			margin-right: 5%;
		}
	}
}

.house-single-header-cont{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	margin-bottom: 2rem;

	img{
		width: 100vw;
	}

	.single-home-cover{

		@include breakpoint(large){
			overflow: hidden;
			height: 70vh;
		}

		.single-home-innercover{
			@include breakpoint(large){
				margin-top: -7rem;	
			}
		}
	}

	.home-detail-single-address{
		background: $light-tan;
		height: 100%;
		width: 85vw;
		padding-left: 1rem;
		padding-right: 1rem;
		margin-top: -3rem;
		margin-bottom: 2rem;

		@include breakpoint(large){
			padding-top: 1rem;
			height: 183px;
			width: 996px;
		}

		h2{
			margin: 0;
		}

		h3{
			margin-top: 0;
		}
	}

	.home-detail-single-text-cont{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100vw;

		@include breakpoint(large){
			flex-direction: row;
			width: 850px;
		}

		.home-detail-single-text-row{
			display: flex;
			width: 100%;
		}

		.home-detail-single-text-label{
			margin-top: 10%;
			margin-left: 10%;

			height: auto;
			max-width: 116px;
			width: 100%;

			@include breakpoint(medium only){
				margin-left: 19%;
			}

			@include breakpoint(large){
				margin-top: 0;
				margin-left: 0;
			}
		}

		.home-detail-single-text-innercont{
			width: 100%;

			@include breakpoint(large){
				margin-left: 1rem;
			}

			.home-detail-single-lp-title, .home-detail-single-bedrooms-title, .home-detail-single-bathrooms-title, .home-detail-single-sq-title{
				font-size: 16px;
				color: $dark-grey;
				margin-bottom: 0;
			}

			.home-detail-single-lp, .home-detail-single-bedrooms, .home-detail-single-bathrooms, .home-detail-single-sq{
				color: $dark-green;
				font-size: 24px;
				font-weight: 700;
				margin-bottom: 0;
				line-height: 1.1;

				@include breakpoint(large){
					font-size: 34px;
				}
			}
		}

		.lot-id-cont{
			height: 79px;
			max-width: 116px;
			position: relative;
			align-self: center;
			transition: all 0.5s ease;

			img{
				height: auto;
				width: 116px;
				position: absolute;
				left: 0;
				z-index: 20;
				bottom: 8px;
				transition: all 0.5s ease;
			}

			p{
				color: #fff !important;
				position: relative;
				z-index: 22;
				padding-left: 18%;
				padding-top: 3%;
				text-align: left;
				transition: all 0.5s ease;

				@include breakpoint(large){
					padding-top: 0;
				}
			}
		}
	}
}

// this is the styling for the agent info and social info block
.agent-social-block{
	background: #aaa;
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;

	@include breakpoint(large){
		flex-direction: row;
	}


	.agent-block-half, .social-block-half{
		height: 351px;
		width: 100vw;

		@include breakpoint(large){
			width: 50%;
		}
	}

	.agent-block-half{
		background: $light-tan;
		padding-top: 4%;
		padding-left: 6%;

		.agent-header{
			text-align: left;
			margin-bottom: 6%;
			h4{
				color: $dark-grey1;
				font-size: 25px;
				font-weight: 700;
			}
		}

		.agent-content{
			display: flex;
			height: 50%;

			.agent_photo_cont{
				width: 35%;
				height: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: center;

				margin-right: 10%;

				@include breakpoint(large){
					margin-right: 0;
					width: 30%;
				}
			}

			.agent-photo{
				display: inline-block;
				position: relative;
				width: 120px;
				height: 120px;
				overflow: hidden;
				border-radius: 50%;

				img{
					width: auto;
					height: 100%;
				}

			}

			.agent-info{
				width: 80%;
				height: 100%;

				display: flex;
				flex-direction: column;
				align-items: flex-start;
				text-align: left;

				padding-right: 5%;

				max-width: 200px;

				@include breakpoint(large){
					max-width: 100%;
					padding-right: 0;
				}

				.agent-name-comp{
					.agent-name{
						color: $dark-green;
						font-size: 22px;
						font-weight: 700;
						margin-bottom: 4%;
					}
					.agent-company{
						color: $coal;
						font-size: 14px;
						margin-bottom: 0;
					}
				}

				.agent-hr{

					width: 80%;
					hr{
						color: $light-tan1;
						margin: 1rem auto;
					}
				}

				.agent-contact{
					max-width: 171px;
					@include breakpoint(large){
						max-width: 100%;
					}
					.agent-phone, .agent-email{
						color: $dark-grey1;
						font-size: 16px;
						margin-bottom: 0;
						max-width: 171px;
						word-wrap: break-word;

						@include breakpoint(large){
							font-size: 18px;
							max-width: 100%;
						}
					}
				}
			}
		}
	}

	//this is the right side, the social block
	.social-block-half{
		background: $dark-tan1;
		text-align: left;
		position: relative;

		h4{
			color: #fff;
			font-weight: 700;
			margin-top: 7%;
			margin-left: 20%;
		}
		.social-innerblock-half{
			height: 75%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;

			margin-top: -6%;

			.social-block-cont{
				display: flex;
				width: 100%;
				justify-content: space-evenly;

				.social-block-left{
					margin-left: 20%;
				}
				.social-block-right{
					margin-right: 20%;
				}

				.social-block-top{
					margin-bottom: 1%;
				}

				.social-block-bottom{
					margin-top: 1%;
				}
			}

			.hori-hr{
				width: 60%;
				hr{
					color: $light-tan;
				}
			}

			.vert-hr{
				position: absolute;
				border-left: 1px solid $light-tan;
				height: 50%;
			}
		}
	}
}


//the lot container, the default it is not displayed
.single-home-lot-cont{	
	width: 100vw;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	margin-top: 5%;
	margin-bottom: 5%;

	position: absolute;
	opacity: 0;
	transition: all 1s ease;

	.single-home-lot-svg{
		overflow: hidden;
		
		
		padding-left: 6%;
		height: 169px;
		width: 176vw;

		@include breakpoint(large){
			height: 700px;
			width: 132vw;
		}

		border-top: 3px solid $dark-grey;
		border-bottom: 3px solid $dark-grey;
		
		//moving the svg up to fit in container
		svg{
			margin-top: -6rem;
			@include breakpoint(large){
				margin-top: -9.8rem;	
			}
		}

		//the container that has all the lots
		#lots{

			//the lots
			#h-1, #h-2, #h-3, #h-4, #h-5, #h-6, #h-7, #h-8, #h-9, #h-10, #h-11, #h-12, #h-13, #h-14, #h-15, #h-16, #h-17, #h-18, #h-19, #h-20, #h-21, #h-22, #h-23, #h-24, #h-25, #h-26, #h-27, #h-28, #h-29, #h-30, #h-31, #h-32, #h-33, #h-34, #h-35, #h-36, #h-37, #h-38, #h-39, #h-40, #h-41, #h-42, #h-43, #h-44, #h-45, #h-46, #h-47, #h-48, #h-49, #h-50, #h-51, #h-52, #h-53, #h-54, #h-55, #h-56, #h-57, #h-58, #h-59, #h-60, #h-61, #h-62, #h-63{
				fill: #D3D9CB;
			}

		}
	}


}

// This is the class for when the lot number is clicked
.selected-lot{
	fill: #DFAE6B !important;
	transition: all 1s ease;
}

.lot-space{
	margin-top: 25vh;
	@include breakpoint(large){
		margin-top: 100vh;
	}
		
	transition: all 1s ease;
}

.show-lot{
	opacity: 1;
	transition: all 1s ease;
}

.rotate-lot-button{
	transform: rotate(90deg);

	right: 1.5rem;
	left: initial !important;
	bottom: -5px !important; 

	width: 102px !important;
	height: 86px !important;
	transition: all 0.5s ease;
}